<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th scope="col">model</th>
        <th scope="col">engine</th>
        <th scope="col">series</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="cars : ${car}">
        <td th:text="${cars.model}"/>
        <td th:text="${cars.engine}"/>
        <td th:text="${cars.series}"/>
    </tr>
    </tbody>
</table>

</body>
</html>